@model Connect.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}


<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@using (Html.BeginForm((string)ViewBag.FormAction, "Account")) {
    @Html.ValidationSummary(true, "Log in was unsuccessful. Please correct the errors and try again.")

    <fieldset>
        <legend>Log in Form</legend>
        <div class="control-group">
            @Html.LabelFor(m => m.UserName)
            @*<label for="UserName" class="control-label">@Model.UserName</label>*@
            <div class="controls">
                
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </div>
            <div class="controls">
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <div class="controls">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
            </div>
        </div>
        <input class="btn btn-primary" type="submit" value="Log in" />
       @* <a class="btn btn-primary" href="#">
<i class="icon-shopping-cart icon-white"></i>
Primary
</a>*@
    </fieldset>
@*    <p>
        @Html.ActionLink("Register", "Register") if you don't have an account.
    </p>*@
}
